@font-face {
  font-family: "GmarketSansMedium";
  src: url("./assets/fonts/GmarketSansMedium.otf");
  font-weight: 500;
  font-style: 500;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("./assets/fonts/GmarketSansBold.otf");
  font-weight: 700;
  font-style: 700;
}

@font-face {
  font-family: "GmarketSansLight";
  src: url("./assets/fonts/GmarketSansLight.otf");
  font-weight: 300;
  font-style: 300;
}

* {
  margin: 0;
  padding: 0;
  font-family: "GmarketSansLight";
}
